---
interface Props {
	title: string;
	body: string;
	iconClass:string
}

const {title, body,iconClass } = Astro.props;
---

<li class="flex flex-col list-none p-1 min-h-36 min-w-36 max-w-full">
	<span class="flex items-center mb-2 h-2/6">
		<span class="h-full">
			<i class={`${iconClass} text-3xl`} title={title}/>
		</span>
		<h2 class="font-bold ml-2">
			{title}
		</h2>
	</span>
	<p class="text-base h-4/6">
		{body}
	</p>
</li>
