---
interface Props {
	iconClass: string;
    alt: string;
	href: string;
}

const {iconClass, alt, href} = Astro.props;
---

<a class="mr-3 bg-primary" href={href} target="_self" rel="noopener noreferrer">
    <i class={`${iconClass} text-3xl`} title={alt}/>
</a>

<style>
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 0.3rem;
        color: #222222;
        box-shadow: 0 4px 8px 0 #00000033;
    }

    a:hover {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    img {
        display: block;
    }
</style>