<button class="bg-primary text-white">Download</button>

<style>
    button {
        border: 1px solid #4a5568;
        font-weight: bold;
        padding: 7px 16px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 0.5rem;
    }
</style>