<button onclick="location.href='https://github.com/EXXETA/correomqtt/releases/latest'" class="bg-primary text-white">Download</button>

<style>
    button {
        font-weight: bold;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        padding: 8px 24px 8px 24px;
        gap: 10px;
        border-radius: 20px;
    }
</style>