---
interface Props {
	text: string
	href: string;
    target?: string;
    ariaLabel?: string;
}

const { text, href, target, ariaLabel } = Astro.props;
---

<a href={href} target={target} aria-label={ariaLabel} class="ml-5 font-medium">
    {text}
</a>

<style>
    a {
        color: white
    }

    a:hover {
        text-decoration: underline;
        color: lightgrey;
    }
</style>