<div class="absolute backgroundContainer">
    <span class="rectangle">
        <span class="ellipse1"></span>
        <span class="ellipse2"></span>
        <span class="ellipse3"></span>
        <span class="ellipse4"></span>
    </span>
</div>

<style>
    /* Rectangle 8 */

    .backgroundContainer {
        z-index: -1;
        height: 560px;
        width: 100%;
        background: rgba(192, 204, 25, 0.08);
    }

    .rectangle {
        z-index: -3;
        width: 100%;
        height: 560px;
        background: rgba(192, 204, 25, 0.08);
    }

    .ellipse1 {
        z-index: -6;
        position: absolute;
        width: 31%;
        height: 452px;
        right: 0;
        top: -298px;
        background: rgba(192, 204, 25, 0.2);
        filter: blur(100px);
    }

    .ellipse2 {
        z-index: -6;
        position: absolute;
        width: 41%;
        height: 601px;
        left: 209px;
        top: -21px;
        background: rgba(192, 204, 25, 0.2);
        filter: blur(100px);
    }

    .ellipse3 {
        z-index: -6;
        position: absolute;
        width: 27%;
        height: 385px;
        right: 0;
        top: 157px;
        background: rgba(192, 204, 25, 0.3);
        filter: blur(100px);
    }

    .ellipse4 {
        z-index: -6;
        position: absolute;
        width: 27%;
        height: 385px;
        left: -193px;
        top: 127px;
        background: rgba(192, 204, 25, 0.3);
        filter: blur(100px);
    }
</style>
