---
import CorreoIcon from '../../assets/CorreoIcon.astro';
---

<div class="flex items-center">
    <CorreoIcon/>
        
    <h5 class="ml-3 text-2xl font-semibold">
        CorreoMQTT
    </h5>
</div>