---
import DownloadItem from '../components/DownloadItem.astro';
---

<div class="mt-2">
    <p class="mb-2 text-base">
        Download CorreoMQTT Client
    </p>
    <div class="flex full-width space-between">
        <DownloadItem icon="windows-logo.png" height='24' width='24' alt='Windows Download' href='#'/>
        <DownloadItem icon="apple-logo.png" height='28' width='28' alt='Apple Download' href='#'/>
        <DownloadItem icon="linux-logo.png" height='48' width='48' alt='Linux Download' href='#'/>
    </div>
</div>