---
import DownloadItem from '../components/DownloadItem.astro';
---

<div class="mt-2">
    <p class="mb-2 text-base">
        Download CorreoMQTT Client
    </p>
    <div class="flex full-width space-between">
        <DownloadItem iconClass="fa-brands fa-windows" alt='Windows Download' href='https://github.com/EXXETA/correomqtt/releases/download/v0.14.2/CorreoMQTT-0.14.2.msi'/>
        <DownloadItem iconClass="fa-brands fa-apple" alt='Apple Download' href='https://github.com/EXXETA/correomqtt/releases/download/v0.14.2/CorreoMQTT-0.14.2.dmg'/>
        <DownloadItem iconClass="fa-brands fa-linux" alt='Linux Download' href='https://github.com/EXXETA/correomqtt/releases/download/v0.14.2/correomqtt_0.14.2-1_amd64.deb'/>
    </div>
</div>