---
import Card from '../components/Card.astro';
---
<section id="feature_section"></section>
<div class="mt-4">
    <h1 class="text-3xl mb-4">Features</h1>
<ul role="list" class="card-grid">
    <Card
        title="MQTT Publish / Subscribe"
        body="Send & receive MQTT messages via topics."
        iconClass='fa-regular fa-comments'
    />
    <Card
        title="Multiple Connections"
        body="Connect to multiple MQTT brokers at once."
        iconClass='fa-solid fa-arrow-up-wide-short'
    />
    <Card
        title="Plugins"
        body="Explore the community plugin marketplace or write your own custom plugins."
        iconClass='fa-solid fa-puzzle-piece'
    />
    <Card
        title="Themes"
        body="Change the look of your favourite MQTT Gui client with custom themes"
        iconClass='fa-solid fa-palette'
    />
</ul>
</div>

<style>
    .card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>