---
import Features from '../layouts/Features.astro';
import Welcome from '../layouts/Welcome.astro';
import Contributing from '../layouts/Contributing.astro';
import HorizontalLine from '../components/HorizontalLine.astro';
import ContentLayout from '../layouts/ContentLayout.astro';
import BackgroundImage from '../assets/BackgroundImage.astro';
---

<!--Main Content -->
<main>
	<BackgroundImage/>
    <ContentLayout>
		<!-- Landing page section -->
		<Welcome/>
		<!-- Correo Features -->
		<div class="feature-section">
			<Features/>
		</div>
		<!-- Correo Contribution -->
		<Contributing/>
	</ContentLayout>
</main>

<style>
	.feature-section {
		background-color: white;
	}
</style>
