---
import Features from '../layouts/Features.astro';
import Welcome from '../layouts/Welcome.astro';
---

<!--Main Content -->
<main class="m-auto p-4 text-xl leading-relaxed w-9/12 lg:w-8/12 2xl:w-6/12">
    <!-- Landing page section -->
    <Welcome/>

    <hr class="text-dark my-16 opacity-50"/>

    <!-- Correo Features -->
    <Features/>
</main>
