---
import Features from '../layouts/Features.astro';
import Welcome from '../layouts/Welcome.astro';
---

<!--Main Content -->
<main>
    <!-- Landing page section -->
    <Welcome/>

    <hr class="text-dark"/>

    <!-- Correo Features -->
    <!-- <Features/> -->
</main>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 60%;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}

	hr {
		margin: 4rem 0;
		color: rgba(0, 0, 0, 0.3);
	}
</style>
