---
import Download from "./Download.astro";
import correoAppImg from "../assets/image 2.png"
import {Image} from 'astro:assets';
import ContentLayout from "./ContentLayout.astro";
---
<div class="wrapper">
    <ContentLayout>
        <section id="#welcome_section" class="pt-5 pb-5">
            <div class="grid grid-cols-2">
                <div class="flex flex-col justify-center align-center mt-4">
                    <h5 class="text-4xl font-bold">
                        CorreoMQTT
                    </h5>
                    <div class="flex flex-start">
                        <p class="w-5/6 mb-6 mt-4">
                            A modern graphical MQTT client using the HiveMQ client library.
                            MQTT is a messaging protocol widely used in the IoT world.
                            CorreoMQTT provides a UI to send and receive messages. It is able to handle multiple connections at
                            the same time.
                        </p>
                    </div>

                    <div class="mb-3">
                        <Download/>
                    </div>
                </div>
                <div>
                    <Image  src={correoAppImg} alt="Correo start image"/>
                </div>
            </div>

        </section>
    </ContentLayout>
</div>

<style>
    .wrapper {
        background: #222222;
        color: white;
    }

    #imageContainer {
        position: relative;
        transition: transform 500ms
    }

    #imageContainer:hover {
        transform: translateY(-225px);
    }
</style>