---
import Download from "./Download.astro";

---

<div class="container flex">
    <div class="flex flex-col justify-center align-start mr-6">
        <h1 class="text-3xl font-bold mb-4">
            Welcome to CorreoMQTT
        </h1>
        <p class="mb-4">
            A modern graphical MQTT client using the HiveMQ client library. CorreoMQTT provides a UI to send and receive messages. 
        </p>

        <Download />
        
    </div>
    <img src="screenshot.png" width="800" height="800"/>
</div>